{{ define "main" }}
<main>
  <div id="personal">
    <img id="my-pic" src="{{- (resources.Get "/images/bongjun-washington-monument.jpg").RelPermalink -}}"
      alt="bongjun-in-washington-dc" />

    <section id="info">
      <h4>Contacts</h4>
      <ul>
        <li><a href="https://github.com/bonjune">Github</a></li>
        <li>Email: {{ .Site.Params.Author.Email }}</li>
      </ul>

      <h4>Research Interest</h4>
      <ul>
        <li> Programming Languages </li>
        <li> Fuzzing </li>
        <li> Compilers </li>
      </ul>

      <h4>Education</h4>
      <ul>
        <li>
          <strong>M.S.</strong> in Computer Science, KAIST, Korea (2025 Feb. - 2027 Feb. expected) <br />
        </li>
        <li>
          <strong>B.S.</strong> in Computer Science, KAIST, Korea (2018 - 2025. Feb)<br />
          <ul>
            <li>
              Minor in Cybersecurity
            </li>
          </ul>
        </li>
      </ul>

      <h4>Experience</h4>
      <ul>
        <li>Programming Systems Laboratory, KAIST (2024 Jan - present)</li>
        <li>Software Developer, Datamaker (2020) </li>
        <li>
          Served as a KATUSA tanker in Republic of Korea Army (2021 Feb - 2022 Aug)
      </ul>
      </li>
    </section>
  </div>

  <div id="contents">
  <h2>Publications</h2>
  <ul>
    <li>Optimization-Directed Compiler Fuzzing for Continuous Translation Validation <br>
        Jaeseong Kwon, Bongjun Jang, Juneyoung Lee, and Kihong Heo <br>
        <a href="https://pldi25.sigplan.org/">
          PLDI 2025: ACM SIGPLAN Conference on Programming Language Design and Implementation
        </a>
    </li>
  </ul>
  <h2>Posts</h2>
  <table>
    <tbody>
      {{ range where .Site.RegularPages "Type" "posts" }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td style="text-align: right;">{{ .Date.Format "2006 Jan 2" }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <h2>Vagabond</h2>
  <table>
    <tbody>
      {{ range where .Site.RegularPages "Type" "vagabond" }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td style="text-align: right;">{{ .Date.Format "2006 Jan 2" }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <h2>Wiki</h2>
  <table>
    <tbody>
      {{ range where .Site.RegularPages "Type" "wiki" }}
      <tr>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
        <td style="text-align: right;">{{ .Date.Format "2006 Jan 2" }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <h2>Bookmarks</h2>
  <ol>
    {{ range where .Site.RegularPages "Type" "bookmarks" }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ol>
  </div>
</main>
{{ end }}