{{ define "main" }}
<main>
  <div id="personal">
    <img id="my-pic" src="{{- (resources.Get "/images/bongjun-washington-monument.jpg").RelPermalink -}}"
      alt="bongjun-in-washington-dc" />

    <section id="info">
      <h3>Contacts</h3>
      <ul>
        <li><a href="https://github.com/bonjune">Github</a></li>
        <li>Email: {{ .Site.Params.Author.Email }}</li>
      </ul>

      <h3>Research Interest</h3>
      <ul>
        <li> Programming Languages </li>
        <li> Fuzzing </li>
        <li> Compilers </li>
      </ul>

      <h3>Education</h3>
      <ul>
        <li>
          <strong>B.S.</strong> in Computer Science, KAIST, Korea (2018 - 2024)<br />
          <ul>
            <li>
              Minor in Cybersecurity
            </li>
          </ul>
        </li>
      </ul>

      <h3>Experience</h3>
      <ul>
        <li>Undergraduate Researcher</li>
          <ul>
            <li>Programming Systems Laboratory</li>
            <li>KAIST (2024.01 - Present)</li>
          </ul>
        <li>Software Developer</li>
        <ul>
          <li>
            Datamaker (2020)
          </li>
        </ul>
        <li>
          Served as a KATUSA tanker in Republic of Korea Army (2021.02 - 2022.08)
      </ul>
      </li>
    </section>
  </div>

  <div id="contents">
  <h2>Publications</h2>
  <ul>
    <li>Work In Process...</li>
  </ul>
  <h2>Posts</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {{ range where .Site.RegularPages "Type" "posts" }}
      <tr>
        <td>{{ .Date.Format "2006 Jan 2" }}</td>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <h2>Wiki</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {{ range where .Site.RegularPages "Type" "wiki" }}
      <tr>
        <td>{{ .Date.Format "2006 Jan 2" }}</td>
        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
      </tr>
      {{ end }}
    </tbody>
  </table>

  <h2>Bookmarks</h2>
  <ol>
    {{ range where .Site.RegularPages "Type" "bookmarks" }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ol>
  </div>
</main>
{{ end }}