body {
    font-family: 'Cascadia Code', sans-serif;
    font-size: medium;
}

header {
    font-family: 'Cascadia Code', sans-serif;
    font-size: large;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 800px;
}


main {
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

img#my-pic {
    width: 50%;
}

code {
    font-family: 'Cascadia Code';

}

div .highlight {
    border-radius: 5%;
}

div .highlight>pre {
    padding: 1em;
}

body {
    width: 85%;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
}

main {
    border: 1px solid gray;
}

main table th {
    text-align: left;
}

article figure {
    border: 1px red;
    margin: 0;
}

figure img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #personal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #contents {}

    #my-pic {
        grid-column: 1 / 2;
        max-width: 100%;
        margin: auto;
    }

    #info {
        grid-column: 2 / 2;
    }
}