:root {
    --body-font: "Source Serif 4", sans-serif;
    --code-font: "Iosevka", "Cascadia Code", "SFMono-Regular", monospace;
}

body {
    font-family: var(--body-font);
}

code, pre {
    font-family: var(--code-font);
}

header {
    font-family: var(--body-font);
}

body .content .figure {
    img {
        max-width: 65%;
        height: auto;
    }
}

.site-header {
    text-align: center;
    margin: 0 auto 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.site-header a {
    color: inherit;
    text-decoration: none;
}

#postamble {
    text-align: center;
}
