{{ define "main" }}
<main>
	<article>
		<h1>{{ .Title }}</h1>
		<time datetime="{{ .Date.Format " 2006-01-02T15:04:05" }}">{{ .Date.Format "2006 Jan 2" }}</time>
		{{ .Content }}
	</article>
</main>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
  MathJax = {
    tex: {
      displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
      inlineMath: [['\\(', '\\)'], ['$', '$']]                  // inline
    }
  };
</script>
{{ partial "sidebar.html" . }}
{{ end }}